<md-dialog aria-label="Add new event" flex>
    <md-content layout-padding layout="column">
        <form name="eventForm">
            <div layout="row">
                <md-input-container flex style="width: 50%">
                    <label>Profesional</label>
                    <input ng-model="newEvent.owner">
                </md-input-container>
                <md-autocomplete flex style="width: 50%"
                      md-input-name="autocompleteField"
                      md-selected-item="selectedRoom"
                      md-search-text="searchText"
                      md-items="item in querySearch(searchText)"
                      md-item-text="item.title"
                      md-floating-label="Consultorio">
                    <md-item-template>
                      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
                    </md-item-template>
                    <md-not-found>
                      No se econtraron coincidencias para "{{searchText}}"
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div layout="row">
            <md-input-container flex style="width: 50%">
                <label>Fecha</label>
                <input type="date" ng-model="newEvent.startDate" >
            </md-input-container>
            <md-input-container flex style="width: 50%" >
                <label>Hora</label>
                <input type="time" ng-model="newEvent.startTime" >
            </md-input-container>
            </div>
            <md-input-container flex>
                <label>Paciente</label>
                <input ng-model="newEvent.title">
            </md-input-container>
            <div layout="row" layout-padding layout-align="end center" style="width:100%">
                <md-button class="md-raised" ng-click="closeDialog()">Cancelar</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Guardar</md-button>
            </div>
            </md-dialog-content>
        </form>
    </md-content>
</md-dialog>